body {
    Width: 800px;
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}



Main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}